[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
tcp-latency = "==0.0.10"
tabulate = "==0.8.9"

[dev-packages]

[requires]
python_version = "3.8"
